.contact {
  width: 100%;
  padding-bottom: 30px;
  .container {
    display: flex;
    justify-content: space-between;
    .left {
      width: 55%;
      .contactDetails {
        margin-left: 12px;
        .title-heading {
          font-size: 16px;
          line-height: 27px;
          text-transform: none;
        }
        .address {
          display: flex;
          flex-flow: column;
          justify-content: center;
          margin: 32px 0;
          .title-heading {
            display: flex;
            align-items: center;
            margin-bottom: 5px;
            span {
              display: flex;
              align-items: center;
              margin-right: 12px;
            }
          }
          .para {
            width: 80%;
            font-size: 16px;
            line-height: 27px;
            color: #919eab;
          }
        }
      }
    }
    .right {
      width: 45%;
      display: flex;
      justify-content: center;
      .form {
        width: 70%;
        display: flex;
        flex-flow: column;
        .title-heading {
          font-size: 16px;
          margin-top: 30px;
          text-transform: none;
          margin-bottom: 0;
        }
        
        .text-input {
          position: relative;
          label {
            position: absolute;
            top: 19px;
            left: 10px;
            padding: 0;
            color: #919eab;
            pointer-events: none;
            transition: 0.5s;
            z-index: 10;
            margin-bottom: 0;
            font-family: Helvetica;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
          }
          .input {
            width: 100%;
            height: 40px;
            border: 1px solid #919eab;
            outline: none;
            box-sizing: border-box;
            border-radius: 4px;
            margin: 8px 0;
            padding: 0 10px;
            font-size: 14px;
            line-height: 16px;
            color: #919eab;

            &::-webkit-input-placeholder,
            &:-moz-placeholder,
            &:-ms-input-placeholder {
              color: #919eab;
              font-size: 14px;
            }

            &:focus ~ label,
            &:not([value=""]) ~ label {
              top: 0px;
              left: 10px;
              font-size: 10px;
              background-color: white;
              padding-left: 5px;
              padding-right: 5px;
              height: none;
              color: #919eab;
            }

            &:focus ~ label {
              color: blue;
            }

            &:focus,
            &:valid ~ label,
            &:not([value=""]) ~ label {
              outline: none;
              border-color: blue;
              box-shadow: none;
            }
          }

          textarea.textfield {
            height: 150px;
            width: 100%;
            outline: none;
            border: 1px solid #919eab;
            box-sizing: border-box;
            border-radius: 4px;
            margin: 8px 0;
            resize: none;
            padding: 10px;
            font-size: 14px;
            line-height: 16px;
            color: #919eab;


            &:focus ~ label{
              color: blue !important;
            }

            &:focus ~ label {
              color: blue;
              top: 0px;
              left: 10px;
              font-size: 10px;
              background-color: white;
              padding-left: 5px;
              padding-right: 5px;
              height: none;
              color: #919eab;
            }

            &:focus,
            &:valid ~ label,
            &:not([value=""]) ~ label {
              outline: none;
              border-color: blue;
              box-shadow: none;
            }

            &.has-value ~ label {
              top: 0px;
              left: 10px;
              font-size: 10px;
              background-color: white;
              padding-left: 5px;
              padding-right: 5px;
              color: #919eab;
              outline: none;
              border-color: blue;
              box-shadow: none;
            }
            &.has-value:focus ~ label {
              color: blue;
            }
          }
        }

        .input {
          height: 40px;
          border: 1px solid #919eab;
          outline: none;
          box-sizing: border-box;
          border-radius: 4px;
          margin: 8px 0;
          padding: 0 10px;
          font-size: 14px;
          line-height: 16px;
          color: #919eab;
        }
        textarea {
          height: 150px;
          width: 100%;
          outline: none;
          border: 1px solid #919eab;
          box-sizing: border-box;
          border-radius: 4px;
          margin: 8px 0;
          resize: none;
          padding: 10px;
          font-size: 14px;
          line-height: 16px;
          color: #919eab;
          :focus{
            cursor: none !important;
          }
        }
        .btn {
          width: fit-content;
          margin-top: 8px;
        }
      }
    }
  }
}
